.resort-service {
  color: $basic_dark;
}

.resort-service__title {
  font-family: "SangBleuKingdom", "Times New Roman", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  margin: 0;
  margin-top: 37px;
  margin-left: 16px;

  @media (min-width: $desktop-width) {
    font-size: 40px;
    margin-top: 86px;
    margin-left: 0;
  }
}
