$basic_gold: hsla(43, 52%, 69%, 1);
$basic_dark: hsla(0, 1%, 24%, 1);
$basic_grey: hsla(0, 0%, 40%, 1);
$special_dark: hsla(0, 0%, 20%, 1);
$special_grey: hsla(0, 0%, 96%, 1);
$special_gold: hsla(43, 31%, 52%, 1);
$special_gold_light: hsla(43, 38%, 58%, 1);
$basic_white: hsla(0, 0%, 100%, 1);
$basic_black: hsla(0, 0%, 0%, 1);
$special_white: hsla(0, 0%, 89%, 1);
$special_brown: hsla(43, 29%, 43%, 0.16);
$basic_brown: hsla(43, 0%, 14%, 1);

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
